.page-heading {
  font-size: 3.5em; 
  font-weight: 700; 
  text-align: center;
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;  
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;  
  margin-top: 30px;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease-in-out; 
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  
  .welcome-message {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  

  .navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #0e0606;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .navbar a:hover {
    color: #e78f15;
  }
  
  
  button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  button + button {
    margin-left: 10px;
  }
  