.property-list-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  .property-card {
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .property-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .page-heading {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .welcome-message {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .navbar a:hover {
    color: #0056b3;
    
  }
  
  .filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
 
  }
  
  button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  