.property-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; 
}
  
.property-card {
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.property-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
  
.any{
  text-align: center;
}
  
.filter-buttons {
  display:flex;
  justify-content: center;
  gap: 10px;
}